<!--
  This template loads for the 'tab.jaunt-detail' state (app.js)
  'jaunt' is a $scope variable created in the JauntsCtrl controller (controllers.js)
  The JauntsCtrl pulls data from the Jaunts service (service.js)
  The Jaunts service returns an array of jaunt data
-->

<ion-view view-title="Jaunt Details">
  <!-- map view -->
  <ion-nav-buttons side="secondary">
    <a href="#/tab/map"><button class="button button-icon icon ion-ios7-navigate ion-ios-navigate"> Map</button></a>
  </ion-nav-buttons>

  <ion-content class="jaunt-detail">
    <div class="list">

      <div class="item row">

        <div class="col">
          <h1>{{jaunt.meta.title}}</h1>
        </div>

        <div class="col col-20 col-center">
          <span class="ion-clock">
            {{jaunt.duration.text}}
          </span>
        </div>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{jaunt.stops[0].photoUrl || '/img/jaunt-logo.png'}}">
        <p>
          <div class="fancies">
            <span class="fancies-title"><strong>Fancies:</strong></span>
            <span class="fancies-tag" ng-repeat="tag in jaunttags track by $id(tag + $index)">
              {{tag}}
            </span>
          </div>
        </p>
      </div>

      <div class="list stops-list">
        <ion-list>
          <ion-item class="stop card item-remove-animate item-avatar item-icon-right" ng-repeat="stop in jaunt.stops track by $id(stop)" type="item-text-wrap" href="#/tab/jaunts/{{jaunt._id}}/{{stop._id}}">
            <img ng-src="{{stop.photoUrl || '/img/jaunt-logo.png'}}" class="stop-thumbnail">
            <h2>{{stop.name}}</h2>
            <p>{{stop.description}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
      </div>

    </div>

  </ion-content>

</ion-view>
